/* =================================
  Base Elements
==================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
  margin: 0;
  background-color: white;
}

img {
	max-width: 100%;
}

.title {
  text-align: center;
}

/* =================================
  Base Layout Styles
==================================== */
/*Auto Search*/
.search {
  text-align: center;
  margin: 3rem 0 1rem;
}
#search {
  border: 3px solid #eee;
  width: 70%;
  font-size: 16px;
  border-radius: 5px;
  padding: .5rem;
}

/*Image Gallery*/
.grid {
  margin: 1rem auto;
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.cell {
  margin: 1rem;
  cursor: pointer;
}

.cell img {
  vertical-align: middle;
  border: 5px solid #eee;
  border-radius: 5px;
  transition: all 1s ease;
}

.cell img:hover {
  filter: brightness(60%);
}

.copyright {
  margin-bottom: 3em;
  text-align: center;
  font-weight: bold;
}

/* =================================
  Media Queries
==================================== */
@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .cell {
    width: calc(33.3333% - 2rem);
  }
  #search {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .cell {
    width: calc(25% - 2rem);
  }
}
